# Testing and code checking
hypothesis
pytest
python-ta

# General packages
tqdm
click
colorama
texttable
hurry.filesize

# Tooling
setuptools
wheel

# Data scraping
bs4
num2words
contractions

# Pandoc
pandoc
pypandoc

# Word embeddings
nltk
gensim
sklearn
python-Levenshtein
#numpy>=1.20.0

# Deep learning
tensorflow

# Visualisation
matplotlib
pygame

# Hearthstone Simulator API
git+https://github.com/galacticglum/hearthstone-battlegrounds-simulator.git#egg=hsbg_sim