# Testing and code checking
hypothesis
pytest
python-ta

# General packages
tqdm
colorama
texttable
hurry.filesize

# Data scraping
bs4
num2words

# Tooling
setuptools
wheel

# Word embeddings
nltk
gensim
sklearn
python-Levenshtein
numpy>=1.20.0

# Deep learning
tensorflow<2.5.0

# Visualisation
matplotlib

# Hearthstone Simulator API
git+https://github.com/galacticglum/hearthstone-battlegrounds-simulator.git#egg=hsbg_sim