# Testing and code checking
hypothesis
pytest
python-ta

# General packages
tqdm
colorama
texttable
hurry.filesize

# Data scraping
bs4

# Hearthstone Simulator API
git+https://github.com/galacticglum/hearthstone-battlegrounds-simulator.git#egg=hsbg_sim